<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<br />
<h3><i class="fa fa-file-import"></i>&nbsp; {{ 'appApp.import.home.description' | translate}}</h3>
<p-growl life="8000" styleClass="customWidth"></p-growl>
<p-confirmDialog></p-confirmDialog>
<div class="row">
    <div class="alert alert-warning col" role="alert">
        <i class="fas fa-exclamation-triangle"></i>&nbsp;{{ 'appApp.import.home.filesMessage' | translate}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Import from gitlab</h2>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <button [disabled]="branches && branches.length == 2" icon="fa fa-file-export" pButton type="button" label="{{ 'appApp.import.home.syncbranch' | translate}}"
            class="ui-button-rounded ui-button-success" style="top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%)"  (click)="initBranch()"></button>
    </div>
    <div class="col-2">
        <h6 jhiTranslate="appApp.import.home.branch"> from Branch</h6>
        <p-dropdown [options]="branches" placeholder="choose branch" optionLabel="label" [autoDisplayFirst]="false" [(ngModel)]="selectedBranch" (onChange)="loadBranch($event)">
        </p-dropdown>
    </div>
    
    <div class="col-2">
        <h6 jhiTranslate="appApp.import.home.domain"> to domain</h6>
        <p-dropdown [options]="domains" placeholder="choose domains"  optionLabel="name" [autoDisplayFirst]="false" [(ngModel)]="selectedDomain">
        </p-dropdown>
    </div>
    <div class="col-2">
        <button [disabled]="!selectedBranch || !selectedDomain" icon="fa fa-file-export" pButton type="button" label="{{ 'appApp.import.home.import' | translate}}"
            class="ui-button-rounded ui-button-success" style="top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%)"  (click)="importFromGit()"></button>
    </div>
    <div class="col-4">
            <div class="col-lg-4">
                    <div *ngIf="loading">
                            <span>{{status}} <img src="../../../content/images/waiting.gif" /></span>
                    </div>
            </div>
    </div>
    
</div>
<!-- UPLOAD -->
<div class="row">
    <div class="col-12">
        <h2>Import from Upload</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <p-fileUpload name="files[]" (onError)="onError($event)" multiple="multiple" accept="application/zip,application/x-zip-compressed"
            maxFileSize="1000000" [showCancelButton]="false" [disabled]="selectedDomain === undefined" [closable]="false"
            withCredentials="true" [customUpload]="true" (uploadHandler)="askConfirmation()" #fileUpload chooseLabel="{{ 'appApp.import.fileUpload.chooseBtn' | translate }}"
            uploadLabel="{{ 'appApp.import.fileUpload.uploadBtn' | translate }}">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>
</div>

<p-dialog [(visible)]="showProgressModal" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
    [maximizable]="false" [baseZIndex]="10000" [closeOnEscape]="false" [dismissableMask]="false" [closable]="false"
    [positionTop]="50">
    <p-header>
        <span jhiTranslate="appApp.import.fileUpload.importInProgressHeader">Import in progress..</span>
    </p-header>
    <P jhiTranslate="appApp.import.fileUpload.importInProgressMessage">This might take some time...</P>
    <p-progressBar mode="indeterminate"></p-progressBar>

</p-dialog>
