<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sentence-module-heading" jhiTranslate="appApp.sentenceModule.home.createOrEditLabel">Create or edit a Sentence Module</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sentenceModule.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sentenceModule.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.sentenceModule.sentenceId" for="field_sentenceId">Sentence Id</label>
                    <input type="number" class="form-control" name="sentenceId" id="field_sentenceId"
                        [(ngModel)]="sentenceModule.sentenceId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.sentenceModule.phraseOptionId" for="field_phraseOptionId">Phrase Option Id</label>
                    <input type="number" class="form-control" name="phraseOptionId" id="field_phraseOptionId"
                        [(ngModel)]="sentenceModule.phraseOptionId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.sentenceModule.moduleNo" for="field_moduleNo">Module No</label>
                    <input type="number" class="form-control" name="moduleNo" id="field_moduleNo"
                        [(ngModel)]="sentenceModule.moduleNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.sentenceModule.datenew" for="field_datenew">Datenew</label>
                    <div class="d-flex">
                        <input id="field_datenew" type="datetime-local" class="form-control" name="datenew" [(ngModel)]="datenew"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.sentenceModule.datelast" for="field_datelast">Datelast</label>
                    <div class="d-flex">
                        <input id="field_datelast" type="datetime-local" class="form-control" name="datelast" [(ngModel)]="datelast"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
