<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-phrase-heading" jhiTranslate="appApp.phrase.home.createOrEditLabel">Create or edit a Phrase</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!phrase.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="phrase.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phrase.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                        [(ngModel)]="phrase.value" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phrase.spaceBefore" for="field_spaceBefore">Space Before</label>
                    <input type="checkbox" class="form-control" name="spaceBefore" id="field_spaceBefore"
                        [(ngModel)]="phrase.spaceBefore" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phrase.spaceAfter" for="field_spaceAfter">Space After</label>
                    <input type="checkbox" class="form-control" name="spaceAfter" id="field_spaceAfter"
                        [(ngModel)]="phrase.spaceAfter" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phrase.removePunctuationBefore" for="field_removePunctuationBefore">Remove Punctuation Before</label>
                    <input type="checkbox" class="form-control" name="removePunctuationBefore" id="field_removePunctuationBefore"
                        [(ngModel)]="phrase.removePunctuationBefore" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phrase.itemNo" for="field_itemNo">Item No</label>
                    <input type="number" class="form-control" name="itemNo" id="field_itemNo"
                        [(ngModel)]="phrase.itemNo" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phrase.incorrect" for="field_incorrect">Incorrect</label>
                    <input type="checkbox" class="form-control" name="incorrect" id="field_incorrect"
                        [(ngModel)]="phrase.incorrect" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phrase.phraseOptionItemId" for="field_phraseOptionItemId">Phrase Option Item Id</label>
                    <input type="number" class="form-control" name="phraseOptionItemId" id="field_phraseOptionItemId"
                        [(ngModel)]="phrase.phraseOptionItemId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phrase.datelast" for="field_datelast">Datelast</label>
                    <div class="d-flex">
                        <input id="field_datelast" type="datetime-local" class="form-control" name="datelast" [(ngModel)]="datelast"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phrase.datenew" for="field_datenew">Datenew</label>
                    <div class="d-flex">
                        <input id="field_datenew" type="datetime-local" class="form-control" name="datenew" [(ngModel)]="datenew"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
