<div>
    <h2 id="page-heading">
        <span jhiTranslate="appApp.phrase.home.title">Phrases</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-phrase" [routerLink]="['/phrase/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appApp.phrase.home.createLabel">
            Create new Phrase
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="phrases">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value"><span jhiTranslate="appApp.phrase.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="spaceBefore"><span jhiTranslate="appApp.phrase.spaceBefore">Space Before</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="spaceAfter"><span jhiTranslate="appApp.phrase.spaceAfter">Space After</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="removePunctuationBefore"><span jhiTranslate="appApp.phrase.removePunctuationBefore">Remove Punctuation Before</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="itemNo"><span jhiTranslate="appApp.phrase.itemNo">Item No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="incorrect"><span jhiTranslate="appApp.phrase.incorrect">Incorrect</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phraseOptionItemId"><span jhiTranslate="appApp.phrase.phraseOptionItemId">Phrase Option Item Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="datelast"><span jhiTranslate="appApp.phrase.datelast">Datelast</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="datenew"><span jhiTranslate="appApp.phrase.datenew">Datenew</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let phrase of phrases ;trackBy: trackId">
                <td><a [routerLink]="['/phrase', phrase.id, 'view' ]">{{phrase.id}}</a></td>
                <td>{{phrase.value}}</td>
                <td>{{phrase.spaceBefore}}</td>
                <td>{{phrase.spaceAfter}}</td>
                <td>{{phrase.removePunctuationBefore}}</td>
                <td>{{phrase.itemNo}}</td>
                <td>{{phrase.incorrect}}</td>
                <td>{{phrase.phraseOptionItemId}}</td>
                <td>{{phrase.datelast | date:'medium'}}</td>
                <td>{{phrase.datenew | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/phrase', phrase.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/phrase', phrase.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'phrase/'+ phrase.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="phrases && phrases.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
