<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid" style="height: 100%;">

    <div class="row">

        <!-- <div class="col-md-1">
            <div class="card jh-card">
                <router-outlet name="menu"></router-outlet>
            </div>
        </div> -->
        <div class="col">

            <div class="card jh-card">
                <router-outlet></router-outlet>
                <router-outlet name="popup"></router-outlet>
            </div>
        </div>
    </div>
    <jhi-footer></jhi-footer>
</div>
