<div class="row">
    <div class="col-12">
        <div class="row" style="text-align: center">
            <div class="">

                <div *ngFor="let phraseOpt of subPhraseOptions; let idx = index" style="float:left; padding:3px">
                    <!-- <pre>  {{'i1: ' +  idx1}} {{'i2: ' + idx2 }} {{'i3: ' + idxOpt3[idx] }} {{'i: ' + idx}} </pre>   <br> -->
                    <div class="elementModuleBody">
                        <!--
                        <p-dropdown *ngIf="selectedPhraseOption[idx1] != null && selectedPhraseOption[idx1].selectedPhraseSubOption[idx] != null" [options]="phraseOpt" optionLabel="value" (onChange)="changeSubOption($event, idx)"
                             [(ngModel)]="selectedPhraseOption[idx1].selectedPhraseSubOption[idx]"></p-dropdown>
                        -->    
                            <div class="elementModuleHeader" >
                                <span style="float: right; padding-left: 5px;">{{subnames[idx1][idx]}}</span>
                            </div>
                             <p-listbox *ngIf="selectedPhraseOption[idx1] != null && selectedPhraseOption[idx1].selectedPhraseSubOption[idx] != null" [options]="phraseOpt" optionLabel="value" (onChange)="changeSubOption($event, idx)"
                             [(ngModel)]="selectedPhraseOption[idx1].selectedPhraseSubOption[idx]"
                              [listStyle]="{'max-height':'200px'}"></p-listbox>
                             <jhi-copedit-phrase-dd2 
                             *ngIf="idxOpt3[idx] && subPhraseOptions[idx][idxOpt3[idx]]"
                             (sampleValueChange)='changeSampleValue()'
                             [subSubPhraseOptions]="subPhraseOptions[idx][idxOpt3[idx]]"
                             [selectedPhraseOption]="selectedPhraseOption"  
                             [idx1]="idx1"
                             [idx2]="idx" 
                             [idx3]="idxOpt3[idx]"
                             [sample]="sample" 
                             [subsubnames]="subsubnames"
                             [lang]="lang" ></jhi-copedit-phrase-dd2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
