<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<br />
<h3>
    <i class="fa fa-edit"></i>&nbsp; {{ 'appApp.sentenceEdit.title' | translate }}</h3>

<p-growl life="5000" styleClass="customWidth"></p-growl>

<div class="row">
    <div class="col-10">
        <div class="fixedFields">
            <div class="row">
                <div class="col">
                    <label for="domain" jhiTranslate="appApp.sentenceEdit.domain">Domain</label>
                    <input id="domain" type="text" size="10" pInputText [(ngModel)]="sentence.domain.name" disabled>
                </div>
                <div class="col">
                    <label for="version" jhiTranslate="appApp.sentenceEdit.version">Version</label>
                    <input id="version" type="text" size="3" pInputText [(ngModel)]="sentence.version.version" disabled>
                </div>
                <div class="col">
                    <label for="basis_version" jhiTranslate="appApp.sentenceEdit.baseVersion">Basis version</label>
                    <input id="basis_version" type="text" size="3" pInputText [(ngModel)]="sentence.version.baseVersion"
                        disabled>
                </div>
                <div class="col">
                    <p-checkbox name="viewDeleted" value="val1" label="{{ 'appApp.sentenceEdit.deleted' | translate }}"
                        [(ngModel)]="sentence.deleted" disabled></p-checkbox>
                </div>
                <div class="col">
                    <p-checkbox name="viewDeleted" value="val1" label="{{ 'appApp.sentenceEdit.joker' | translate }}"
                        [(ngModel)]="sentence.jokerSentence" disabled></p-checkbox>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2">
        <button pButton type="button" icon="fa fa-save"
            label="{{ 'appApp.sentenceEdit.buttons.saveButton' | translate }}" (click)="saveSentence()"></button>
    </div>

</div>

<p-accordion [multiple]="false" [activeIndex]=-1>
    <p-accordionTab selected>
        <p-header>
            <span style="font-size: 28px;font-weight: bold;">
            {{sentence.sentencesDE.name}}
            </span>
        </p-header>

<div class="sentenceL" style="border: 1px solid #e9e9e9; padding: 20px">
    <!-- DE -->
    <div class="row">
        <div class="col-1">
            🇦🇹 DE
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <label  style="margin-top: 8px;">{{sentence.sentencesDE.id}}</label>
                <!--<input id="ID" size="3" disabled pInputText [(ngModel)]="sentence.sentencesDE.id">
                <label for="ID">ID </label>-->
            </span>
        </div>
        <div class="col-4">
            <span class="ui-float-label">
                <input id="name" type="text" pInputText [(ngModel)]="sentence.sentencesDE.name"
                    (input)="updateName($event)" required="true">
                <label for="name">Name</label>
            </span>
        </div>
        <div class="col-4">

            <div class="row">
                    <div class="col-2">
                        🇦🇹 DE
                    </div>
                    <div class="col-10">
                        <span class="ui-float-label">
                            <input id="header" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesDE.header"
                                required="true" style="width: 95%;">
                            <label for="headerDE">Header</label>
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        🇮🇹 IT
                    </div>
                    <div class="col-10">
                            <input id="headerIT" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesIT.header"
                            required="true" style="width: 95%;">
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        🇬🇧 EN
                    </div>
                    <div class="col-10">
                            <input id="headerEN" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesEN.header"
                            required="true" style="width: 95%;">
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        🇫🇷 FR
                    </div>
                    <div class="col-10">
                            <input id="headerFR" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesFR.header"
                            required="true" style="width: 95%;">
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        🇪🇸 ES
                    </div>
                    <div class="col-10">
                            <input id="headerES" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesES.header"
                            required="true" style="width: 95%;">
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        🇪🇸 CA
                    </div>
                    <div class="col-10">
                            <input id="headerCA" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesCA.header"
                            required="true" style="width: 95%;">
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        🇪🇸 OC
                    </div>
                    <div class="col-10">
                            <input id="headerOC" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesOC.header"
                            required="true" style="width: 95%;">
                    </div>
                </div>

        </div>
        <div class="col-2">
            <span class="ui-float-label">
                <input id="Updated" type="datetime" disabled pInputText [(ngModel)]="dataAgg">
                <label for="Updated" jhiTranslate="appApp.sentenceEdit.updated">Updated</label>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="ui-float-label">
                <input id="remarkDe" type="text" pInputText [(ngModel)]="sentence.sentencesDE.remark">
                <label for="remarkDe">Remark</label>
            </span>
        </div>
    </div>
    <hr style="height:2pt; visibility:hidden; margin: 0px" />
    <!-- IT -->
    <div class="row">
        <div class="col-1">
            🇮🇹 IT
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <label  style="margin-top: 8px;">{{sentence.sentencesIT.id}}</label>
                <!--<input id="ID" type="number" size="3" disabled pInputText [(ngModel)]="sentence.sentencesIT.id">-->
            </span>
        </div>
        <div class="col-10">
            <span class="ui-float-label">
                <input id="remarkIt" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesIT.remark">
                <label for="remarkIt">Remark</label>
            </span>
        </div>
    </div>
    <hr style="height:2pt; visibility:hidden; margin: 0px" />
    <div class="row">
        <div class="col-1">
            🇬🇧 EN
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <label  style="margin-top: 8px;">{{sentence.sentencesEN.id}}</label>
            </span>
        </div>
        <div class="col-10">
            <span class="ui-float-label">
                <input id="remarkEn" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesEN.remark">
                <label for="remarkEn">Remark</label>
            </span>
        </div>
    </div>
    <hr style="height:2pt; visibility:hidden; margin: 0px" />
    <div class="row">
        <div class="col-1">
            🇫🇷 FR
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <label style="margin-top: 8px;">{{sentence.sentencesFR.id}}</label>
            </span>
        </div>
        <div class="col-10">
            <span class="ui-float-label">
                <input id="remarkFr" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesFR.remark">
                <label for="remarkFr">Remark</label>
            </span>
        </div>
    </div>
    <hr style="height:2pt; visibility:hidden; margin: 0px" />
    <div class="row">
        <div class="col-1">
            🇪🇸 ES
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <label style="margin-top: 8px;">{{sentence.sentencesES.id}}</label>
            </span>
        </div>
        <div class="col-10">
            <span class="ui-float-label">
                <input id="remarkES" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesES.remark">
                <label for="remarkES">Remark</label>
            </span>
        </div>
    </div>
    <hr style="height:2pt; visibility:hidden; margin: 0px" />
    <div class="row">
        <div class="col-1">
            🇪🇸 CA
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <label style="margin-top: 8px;">{{sentence.sentencesCA.id}}</label>
            </span>
        </div>
        <div class="col-10">
            <span class="ui-float-label">
                <input id="remarkCA" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesCA.remark">
                <label for="remarkCA">Remark</label>
            </span>
        </div>
    </div>
    <hr style="height:2pt; visibility:hidden; margin: 0px" />
    <div class="row">
        <div class="col-1">
            🇪🇸 OC
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <label style="margin-top: 8px;">{{sentence.sentencesOC.id}}</label>
            </span>
        </div>
        <div class="col-10">
            <span class="ui-float-label">
                <input id="remarkOC" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesOC.remark">
                <label for="remarkOC">Remark</label>
            </span>
        </div>
    </div>

</div>
</p-accordionTab>
<hr />

<p-confirmDialog [closeOnEscape]="true" [visible]="showProgressModal" [closable]="false"></p-confirmDialog>
<p-dialog styleClass="pmdialog" header="{{ 'appApp.sentenceEdit.previewTitle' | translate }}" [(visible)]="display"
    [draggable]="true" [resizable]="true" [responsive]="true" modal="modal" [contentStyle]="{'height':'100%'}">
    <iframe id="receiver" #receiver [src]="pmUrl" width="100%" style="height:-webkit-fill-available;" (load)="onIframeLoad($event, '', 'de', this.sentence.sentencesDE.id)">
        <p>{{ "bulletins.create.pmDialog.noIFrameSupport" | translate }}</p>
    </iframe>
</p-dialog>

<div class="row">
    <div class="col-10">
        <h3>{{ "appApp.sentenceEdit.previewTitle" | translate }}</h3>
    </div>
    <div class="col-2">
        <span style="float: right">
        <button pButton type="button" class="ui-button-success"
                label="{{ 'appApp.sentenceEdit.buttons.reloadTexcat' | translate }}" icon="fa fa-eye"
                (click)="reloadTexcat($event, '', 'de', this.sentence.sentencesDE.id)"></button>
     <!--   <button pButton type="button" class="ui-button-success"
            label="{{ 'appApp.sentenceEdit.buttons.tryButton' | translate }}" icon="fa fa-eye"
            (click)="trySentence($event, '', 'de', this.sentence.sentencesDE.id)"></button> -->
        </span>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <jhi-copedit-phrase-option-editor-pv [sentence]="sentence" #previewSentence>
        </jhi-copedit-phrase-option-editor-pv>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>PHRASE OPTION</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <p-checkbox name="allLanguages" label="{{ 'appApp.sentenceEdit.changeOptionsLanguages' | translate }}"
            [(ngModel)]="allLanguages" binary="true"></p-checkbox>
    </div>
</div>

    <p-accordion [multiple]="true">
        <p-accordionTab selected>
            <p-header>
                🇦🇹 DE
            </p-header>
            <jhi-copedit-phrase-option-editor [phraseOptions]="phraseOptionsDE"
                [sentenceLanguage]="sentence.sentencesDE" [allLanguages]="allLanguages">
            </jhi-copedit-phrase-option-editor>
        </p-accordionTab>
        <p-accordionTab selected>
            <p-header>
                🇮🇹 IT
            </p-header>
            <jhi-copedit-phrase-option-editor [phraseOptions]="phraseOptionsIT"
                [sentenceLanguage]="sentence.sentencesIT" [allLanguages]="allLanguages">
            </jhi-copedit-phrase-option-editor>
        </p-accordionTab>
        <p-accordionTab selected>
            <p-header>
                🇬🇧 EN
            </p-header>
            <jhi-copedit-phrase-option-editor [phraseOptions]="phraseOptionsEN"
                [sentenceLanguage]="sentence.sentencesEN" [allLanguages]="allLanguages">
            </jhi-copedit-phrase-option-editor>
        </p-accordionTab>
        <p-accordionTab selected>
            <p-header>
                🇫🇷 FR
            </p-header>
            <jhi-copedit-phrase-option-editor [phraseOptions]="phraseOptionsFR"
                [sentenceLanguage]="sentence.sentencesFR" [allLanguages]="allLanguages">
            </jhi-copedit-phrase-option-editor>
        </p-accordionTab>
        <p-accordionTab selected>
            <p-header>
                🇪🇸 ES
            </p-header>
            <jhi-copedit-phrase-option-editor [phraseOptions]="phraseOptionsES"
                [sentenceLanguage]="sentence.sentencesES" [allLanguages]="allLanguages">
            </jhi-copedit-phrase-option-editor>
        </p-accordionTab>
        <p-accordionTab selected>
            <p-header>
                🇪🇸 CA
            </p-header>
            <jhi-copedit-phrase-option-editor [phraseOptions]="phraseOptionsCA"
                [sentenceLanguage]="sentence.sentencesCA" [allLanguages]="allLanguages">
            </jhi-copedit-phrase-option-editor>
        </p-accordionTab>
        <p-accordionTab selected>
            <p-header>
                🇪🇸 OC
            </p-header>
            <jhi-copedit-phrase-option-editor [phraseOptions]="phraseOptionsOC"
                [sentenceLanguage]="sentence.sentencesOC" [allLanguages]="allLanguages">
            </jhi-copedit-phrase-option-editor>
        </p-accordionTab>
    </p-accordion>
