<div class="row">
    <div class="col-12">
        <div class="row" style="text-align: center">
            <div class="">
                <div *ngFor="let phraseOpt of subSubPhraseOptions.phraseSubOption; let idx = index" style="float:left; padding:3px">
                       <!-- <pre>  {{'i1: ' +  idx1}} {{'i2: ' + idx2 }} {{'i3: ' + idx3 }} {{'i: ' + idx}} </pre>   <br>
                        <pre>  {{selectedPhraseOption[idx1].selectedPhraseSubOption[idx2].selectedPhraseSubOption[idx] | json}} </pre>-->
                        <div class="elementModuleHeader">
                            <span style="float: right; padding-left: 5px;">{{ subsubnames[idx2][idx] }}</span>
                        </div>
                                <p-listbox [options]="phraseOpt" optionLabel="value" (onChange)="changeSubOption($event, idx)"
                                 [(ngModel)]="selectedPhraseOption[idx1].selectedPhraseSubOption[idx2].selectedPhraseSubOption[idx]"
                                 [style]="{'width':'190px'}" [listStyle]="{'max-height':'200px'}"></p-listbox>
                    </div>
            </div>
        </div>
    </div>
</div>
