<div class="row" style="display: block;">
    <div class="waiting-box" *ngIf="loading">
        <span>Please wait...<img src="../../../../content/images/waiting.gif" /></span>
    </div>
    <table *ngIf="texts">
        <tr>
            <th style="padding-right: 1ex">🇦🇹 DE</th>
            <td>{{texts.de}}</td>
        </tr>
        <tr>
            <th>🇮🇹 IT</th>
            <td>{{texts.it}}</td>
        </tr>
        <tr>
            <th>🇬🇧 EN</th>
            <td>{{texts.en}}</td>
        </tr>
        <tr>
            <th>🇫🇷 FR</th>
            <td>{{texts.fr}}</td>
        </tr>
        <tr>
            <th>🇪🇸 ES</th>
            <td>{{texts.es}}</td>
        </tr>
        <tr>
            <th>🇪🇸 CA</th>
            <td>{{texts.ca}}</td>
        </tr>
        <tr>
            <th>🇪🇸 OC</th>
            <td>{{texts.oc}}</td>
        </tr>
      </table>      
</div>

<div class="row">
    <p-tabView (onChange)="setLang($event)">
        <p-tabPanel header="DE" lazy="true">
            <ng-template pTemplate="header">
                🇦🇹 DE
            </ng-template>
            <div class="row" style="margin: 0 auto">
                <div *ngFor="let phraseOpt of sentenceLanguage.phraseOptions; let idx = index" class="phraseOptpv">
                    <div class="sampleModule" style="min-height: 180px">
                        <div class="elementModuleHeader" [ngClass]="{'sentenceException': phraseOpt?.itemNo === 2}">
                            <span
                                style="float: left; padding-right: 5px; ">{{phraseOpt?.moduleNo}}.{{phraseOpt?.itemNo}}</span>
                            <span style="float: right; padding-left: 5px;">{{phraseOpt?.name}}</span>
                        </div>
                        <!-- <pre>{{idx}}  {{indexOpt[idx]}}  </pre>-->
                        <div class="elementModuleBody">
                            <p-listbox [options]="phraseOpt.phrasesPV" optionLabel="value"
                                (onChange)="changeOption($event,idx)" [(ngModel)]="selectedPhraseOption[idx]"
                                [style]="{'width':'100%'}" [listStyle]="{'max-height':'200px'}">
                            </p-listbox>
                            <!--
                                <p-dropdown [options]="phraseOpt.phrasesPV" optionLabel="value"
                                (onChange)="changeOption($event,idx)" [(ngModel)]="selectedPhraseOption[idx]"
                                [style]="{'width':'100%'}">
                            </p-dropdown>
                        -->
                        </div>
                        <jhi-copedit-phrase-dd
                            *ngIf="indexOpt[idx] != null && phraseOpt.phrasesPV != null && phraseOpt.phrasesPV[indexOpt[idx]] != null"
                            (sampleValueChange)='displaySample($event)'
                            [subPhraseOptions]="phraseOpt.phrasesPV[indexOpt[idx]]?.phraseSubOption"
                            [selectedPhraseOption]="selectedPhraseOption" [idx1]="idx" [idx2]="indexOpt[idx]"
                            [subnames]="subnames" [lang]="lang" [sample]="sample"></jhi-copedit-phrase-dd>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                🇮🇹 IT
            </ng-template>
            <div class="row" style="margin: 0 auto">
                <div *ngFor="let phraseOpt of sentenceLanguage.phraseOptions; let idx = index" class="phraseOptpv">
                    <div class="sampleModule" style="min-height: 160px">
                        <div class="elementModuleHeader" [ngClass]="{'sentenceException': phraseOpt?.itemNo === 2}">
                            <span
                                style="float: left; padding-right: 5px; ">{{phraseOpt?.moduleNo}}.{{phraseOpt?.itemNo}}</span>
                            <span style="float: right; padding-left: 5px;">{{phraseOpt?.name}}</span>
                        </div>
                        <!-- <pre>{{idx}}  {{indexOpt[idx]}}  </pre>-->
                        <div class="elementModuleBody">
                            <p-listbox [options]="phraseOpt.phrasesPV" optionLabel="value"
                                (onChange)="changeOption($event,idx)" [(ngModel)]="selectedPhraseOption[idx]"
                                [style]="{'width':'100%'}" [listStyle]="{'max-height':'200px'}">
                            </p-listbox>
                        </div>
                        <jhi-copedit-phrase-dd *ngIf="indexOpt[idx] != null && phraseOpt.phrasesPV != null && phraseOpt.phrasesPV[indexOpt[idx]] != null"
                            (sampleValueChange)='displaySample($event)'
                            [subPhraseOptions]="phraseOpt.phrasesPV[indexOpt[idx]]?.phraseSubOption"
                            [selectedPhraseOption]="selectedPhraseOption" [idx1]="idx" [idx2]="indexOpt[idx]"
                            [subnames]="subnames" [sample]="sample"></jhi-copedit-phrase-dd>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>