<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-domain-heading" jhiTranslate="appApp.domain.home.createOrEditLabel">Create or edit a Domain</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!domain.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="domain.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.domain.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="domain.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.domain.datenew" for="field_datenew">Datenew</label>
                    <div class="d-flex">
                        <input id="field_datenew" type="datetime-local" class="form-control" name="datenew" [(ngModel)]="datenew"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.domain.datelast" for="field_datelast">Datelast</label>
                    <div class="d-flex">
                        <input id="field_datelast" type="datetime-local" class="form-control" name="datelast" [(ngModel)]="datelast"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
