<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<br />
<p-confirmDialog></p-confirmDialog>
<p-growl life="5000" styleClass="customWidth"></p-growl>
<!-- FILTERS -->
<p-fieldset legend="{{ 'appApp.phrasesList.searchFilters.title' | translate }}" [toggleable]="true">
    <div class="row">
        <div class="col">
            <h6>&nbsp;</h6>
            <p-checkbox name="viewDeleted" value="val1" label="{{ 'appApp.phrasesList.searchFilters.deleted' | translate }}"
                (onChange)="dt.filter($event, 'deleted', 'equals')"></p-checkbox>
        </div>
        <div class="col">
            <h6 jhiTranslate="appApp.phrasesList.searchFilters.domain">Domain</h6>
            <p-dropdown [options]="domains" optionLabel="name" [autoDisplayFirst]="false" (onChange)="dt.filter($event?.value?.id, 'domain', 'equals')"
                disabled="true" [(ngModel)]="currentDomain">
            </p-dropdown>
        </div>
        <div class="col">
            <h6 jhiTranslate="appApp.phrasesList.searchFilters.version">Version</h6>
            <p-dropdown [options]="versions" optionLabel="version" showClear="true" [autoDisplayFirst]="false"
                (onChange)="dt.filter($event?.value?.version, 'version', 'equals')">
            </p-dropdown>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>&nbsp;</h6>
            <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText (input)="dt.filter($event.target.value, 'search', 'contains')">
                <label for="float-input">{{ 'appApp.phrasesList.searchFilters.search' | translate }}</label>
            </span>
        </div>
        <div class="col pull-right">
            <h6>&nbsp;</h6>
            <button pButton type="button" icon="pi pi-plus-circle" label="{{ 'appApp.phrasesList.searchFilters.newPhrase' | translate }}"
                (click)="createNewPhrase()"></button>
        </div>
    </div>
</p-fieldset>
<!-- GRID -->
<hr />
<p-table #dt [value]="phrases" [autoLayout]="true" [paginator]="true" [rows]="20" [lazy]="true" (onLazyLoad)="loadNextPage($event)"
    [totalRecords]="totalRecords" [loading]="loading" (onFilter)="filterData($event)" (onSort)="sortPhraseOptions($event)"
    sortMode="multiple">
    <ng-template pTemplate="header">
        <tr>
            <th>Edit</th>
            <th [pSortableColumn]="'phrase_option_id'">ID
                <p-sortIcon [field]="'phrase_option_id'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'name'">Name
                <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'header'">Header
                <p-sortIcon [field]="'header'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'datelast'">Last update
                <p-sortIcon [field]="'datelast'"></p-sortIcon>
            </th>
            <th>Used in sentence
            </th>
            <th>Delete</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <th colspan="7" style="text-align: center" jhiTranslate="appApp.phrasesList.grid.messages.noPhraseFound">No
                phrases found with selected criteria</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-phrase>
        <tr>
            <td>
                <p-button label="{{ 'appApp.phrasesList.grid.buttons.edit' | translate }}" styleClass="ui-button-secondary"
                    icon="pi pi-pencil" iconPos="left" (click)="editPhrase(phrase.name)"></p-button>
            </td>
            <td>{{phrase.id}}</td>
            <td>{{phrase.name}}</td>
            <td>{{phrase.header}}</td>
            <td>{{phrase.datelast | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{phrase.nrOfSentences}}</td>
            <td>
                <p-button label="" styleClass="ui-button-danger"
                    icon="pi pi-trash" iconPos="left" (click)="confirmDelete(phrase.id, phrase.name)"></p-button>
            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
        Total: {{totalRecords}}
    </ng-template>
</p-table>
