<div class="row">
    <div class="col-md-12">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">

            <div class="alert alert-warning" *ngSwitchCase="false">

                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign
                    in</a>
                <span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:
                    <br />- Administrator (login="admin" and password="admin")
                    <br />- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register
                    a new account</a>
            </div>
            <div *ngSwitchCase="true">
                <div class="alert alert-success">
                    <!-- <i class="fa fa-user"></i>&nbsp;Logged in as
                    <b>{{account?.firstName }} {{account?.lastName }}</b> -->
                    <i class="fa fa-user"></i>&nbsp;<span jhiTranslate="home.loggedIn"
                        translateValues="{firstName: '{{account?.firstName}}', lastName: '{{account?.lastName}}'}"></span>
                </div>

                <h4 class="first" jhiTranslate="home.chooseDomain">Choose the domain you want to work on</h4>
                <p-dropdown [options]="domains" [(ngModel)]="currentDomain" optionLabel="name"
                    [autoDisplayFirst]="false" [style]="{'width':'auto'}"></p-dropdown>
            </div>
        </div>

        <!-- Settings Info -->
        <br><br><br>
        <div *ngFor="let key of keys(allConfiguration)">
            <div *ngIf="toShow(key)">
                <h4><span>{{key}}</span></h4>
                <table class="table table-sm table-striped table-bordered table-responsive d-table">
                    <thead>
                        <tr>
                            <th class="w-40">Property</th>
                            <th class="w-60">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of allConfiguration[key]">
                            <tr *ngIf=itemToShow(item)>
                                <td class="break">{{item.key}}</td>
                                <td class="break">
                                    <span>{{item.val}}</span>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h4><span>src\main\webapp\app\app.constants.ts</span></h4>
            <table class="table table-sm table-striped table-bordered table-responsive d-table">
                <thead>
                    <tr>
                        <th class="w-40">Property</th>
                        <th class="w-60">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="break">TEXTCAT API</td>
                        <td class="break">
                            <span>{{textcatAPI}}</span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>