<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-phrase-option-heading" jhiTranslate="appApp.phraseOption.home.createOrEditLabel">Create or edit a Phrase Option</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!phraseOption.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="phraseOption.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phraseOption.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="phraseOption.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phraseOption.language" for="field_language">Language</label>
                    <input type="text" class="form-control" name="language" id="field_language"
                        [(ngModel)]="phraseOption.language" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phraseOption.header" for="field_header">Header</label>
                    <input type="text" class="form-control" name="header" id="field_header"
                        [(ngModel)]="phraseOption.header" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phraseOption.version" for="field_version">Version</label>
                    <input type="text" class="form-control" name="version" id="field_version"
                        [(ngModel)]="phraseOption.version" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phraseOption.basisVersion" for="field_basisVersion">Basis Version</label>
                    <input type="text" class="form-control" name="basisVersion" id="field_basisVersion"
                        [(ngModel)]="phraseOption.basisVersion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phraseOption.remark" for="field_remark">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                        [(ngModel)]="phraseOption.remark" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phraseOption.deleted" for="field_deleted">Deleted</label>
                    <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                        [(ngModel)]="phraseOption.deleted" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phraseOption.domainId" for="field_domainId">Domain Id</label>
                    <input type="number" class="form-control" name="domainId" id="field_domainId"
                        [(ngModel)]="phraseOption.domainId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phraseOption.datenew" for="field_datenew">Datenew</label>
                    <div class="d-flex">
                        <input id="field_datenew" type="datetime-local" class="form-control" name="datenew" [(ngModel)]="datenew"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.phraseOption.datelast" for="field_datelast">Datelast</label>
                    <div class="d-flex">
                        <input id="field_datelast" type="datetime-local" class="form-control" name="datelast" [(ngModel)]="datelast"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
