<div>
    <h2 id="page-heading">
        <span jhiTranslate="appApp.phraseOption.home.title">Phrase Options</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-phrase-option" [routerLink]="['/phrase-option/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appApp.phraseOption.home.createLabel">
            Create new Phrase Option
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="phraseOptions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="appApp.phraseOption.name">Name</span></th>
            <th><span jhiTranslate="appApp.phraseOption.language">Language</span></th>
            <th><span jhiTranslate="appApp.phraseOption.header">Header</span></th>
            <th><span jhiTranslate="appApp.phraseOption.version">Version</span></th>
            <th><span jhiTranslate="appApp.phraseOption.basisVersion">Basis Version</span></th>
            <th><span jhiTranslate="appApp.phraseOption.remark">Remark</span></th>
            <th><span jhiTranslate="appApp.phraseOption.deleted">Deleted</span></th>
            <th><span jhiTranslate="appApp.phraseOption.domainId">Domain Id</span></th>
            <th><span jhiTranslate="appApp.phraseOption.datenew">Datenew</span></th>
            <th><span jhiTranslate="appApp.phraseOption.datelast">Datelast</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let phraseOption of phraseOptions ;trackBy: trackId">
                <td><a [routerLink]="['/phrase-option', phraseOption.id, 'view' ]">{{phraseOption.id}}</a></td>
                <td>{{phraseOption.name}}</td>
                <td>{{phraseOption.language}}</td>
                <td>{{phraseOption.header}}</td>
                <td>{{phraseOption.version}}</td>
                <td>{{phraseOption.basisVersion}}</td>
                <td>{{phraseOption.remark}}</td>
                <td>{{phraseOption.deleted}}</td>
                <td>{{phraseOption.domainId}}</td>
                <td>{{phraseOption.datenew | date:'medium'}}</td>
                <td>{{phraseOption.datelast | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/phrase-option', phraseOption.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/phrase-option', phraseOption.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'phrase-option/'+ phraseOption.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
