<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sentence-lang-heading" jhiTranslate="appApp.sentenceLang.home.createOrEditLabel">Create or edit a Sentence Lang</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sentenceLang.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sentenceLang.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.sentenceLang.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="sentenceLang.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.sentenceLang.header" for="field_header">Header</label>
                    <input type="text" class="form-control" name="header" id="field_header"
                        [(ngModel)]="sentenceLang.header" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.sentenceLang.language" for="field_language">Language</label>
                    <select class="form-control" name="language" [(ngModel)]="sentenceLang.language" id="field_language" >
                        <option value="DE">DE</option>
                        <option value="EN">EN</option>
                        <option value="IT">IT</option>
                        <option value="FR">FR</option>
                        <option value="ES">ES</option>
                        <option value="CA">CA</option>
                        <option value="OC">OC</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.sentenceLang.updatedDate" for="field_updatedDate">Updated Date</label>
                    <div class="d-flex">
                        <input id="field_updatedDate" type="datetime-local" class="form-control" name="updatedDate" [(ngModel)]="updatedDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.sentenceLang.structure" for="field_structure">Structure</label>
                    <input type="text" class="form-control" name="structure" id="field_structure"
                        [(ngModel)]="sentenceLang.structure" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="appApp.sentenceLang.remark" for="field_remark">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                        [(ngModel)]="sentenceLang.remark" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
